<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change_prices</title>
</head>
<body>

  <h1>Изменить цены</h1>
<form action="/change_texts/change_prices" method="post" enctype="multipart/form-data">
  <p>Сейчас:</p>
  <p>30 дней: {{days30}} руб</p>
  <p>90 дней: {{days90}} руб</p>
  <p>365 дней: {{days365}} руб</p><br>

    <label for="input_30">Введите новое значение для 30 дней: </label>
    <input type="text" name="input_30" id="input_30"><br>

    <label for="input_90">Введите новое значение для 90 дней: </label>
    <input type="text" name="input_90" id="input_90"><br>

    <label for="input_365">Введите новое значение для 365 дней: </label>
    <input type="text" name="input_365" id="input_365"><br>

    <input type="submit" value="Изменить"><br>
    <a href="/change_texts">Назад</a>

</form>

</body>
</html>